[submodule "jungle-theme"]
        path = jungle-theme
        url = https://github.com/azer/emacs-jungle-theme

[submodule "use-package"]
        path = use-package
        url =  https://github.com/jwiegley/use-package
[submodule "copilot.el"]
	path = copilot.el
	url = https://github.com/zerolfx/copilot.el
